alembic==0.8.3  # migration tool for sqlalchemy
bitstring==3.1.3  # manipulation of binary numbers
# USING DEVELOPMENT VERSION; NOT IN PIP YET # PyInstaller==2.7  # packaging tool
# USING DEVELOPMENT VERSION 3.0b # pyserial==2.7  # serial port control
PySide==1.2.4  # Python interface to Qt
six==1.10.0  # Python 2/3 compatibility library
SQLAlchemy==1.0.9  # database ORM
